h1{
    margin-top: 30px;
    margin-bottom: 65px;
}

h1, h4{
    text-align: center;
    color:white;
    font-style: bold;
    text-shadow: 2px 2px 5px rgb(187, 15, 81);
}

.poolball-title{
    float: left;
}

#poolball-icon{
    max-width: 100px;
    min-width: 100px;
    height: auto;
    float: right;
 }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.middle{
    width: 33%;
}
  
.little-left {
    width: 33%;
}
  
.big-right {
    width: 67%;
}

#pb-gif{
    min-width: 200px;
    max-width: 400px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

p{
    color: white;
    margin: 30px 0px 30px 0px;
    padding: 0px 5px 0px 5px;
}

.project-button{
    background-color: rgb(89, 89, 172);
    color: rgb(198, 210, 211);
    text-decoration: none;
    border: outset;
    border-color: gray;
    padding: 5px;
    transition-duration: .4s;
}

.project-button:hover{
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 5px rgb(242, 242, 160);
}

.button-div{
    text-align: center;
    margin-bottom: 100px;
}